<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kyle Mini Lab</title>
</head>
<body>
<div class="jumbotron text-center row">
    <div>
        <h3>What range of numbers to you want to test for primes and composites?</h3>
        <form id="fibForm" action="" method="POST" >
            <input name="series" id="series" type="number" min="2" max="200" >
            <button class="btn  my-2 my-sm-0 text-white bg-danger" type="submit">Find Primes and Composites</button>

        </form>
    </div>

    <div id="myDiv" class="col-md-6">
        <h3>Here are the results after checking {{primeCheck.count}} numbers:</h3>

        <div id='prova' style='display:none'>Prime Numbers: {{primeCheck.primes}}</div>
        <div id='prova' style='display:none'>Composite Numbers: {{primeCheck.composites}}</div>

        <script>
                window.onload = function () {
                    setTimeout(appeardiv,2000);
                }
                function appeardiv() {
                    document.getElementById('prova').style.display= "block";
                }
            </script>


    </div>


</div>
</div>
</div>
</body>
</html>
