<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Marvel Heroes</title>
    <style>
        .single {
            background-color: #000000;
        }
    </style>
</head>
<body>
{% extends "LabNav.html" %}
{% block content %}
<div class="container">
<div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
<div class="jumbotron text-center row">
    <div class="col-md-5">
        <div id="user" style="background-color: #8FBC8F">

        <form id="fibForm" action="" method="POST" >
            <label style="color: #000000"><b>How many Marvel Superheroes do want to see you for the Make-A-Wish program?</b></label>
                <input style="margin-bottom: 10px" name="series" id="series" type="number" min="1" max="11" >
            <br>
                <input style="margin-bottom: 10px" type="submit" class="button" value="Pick Your Heroes!">

        </form>
        </div>
    </div>
<div id="myDiv" class="col-md-5">
    <label><b>Your heroes are:</b></label>
    <div id='prova' style="background-color: #8FBC8F">{{Marvel.list}}</div>
        <script>
            window.onload = function () {
                    setTimeout(appeardiv,1000);
                }
                function appeardiv() {
                    document.getElementById('prova').style.display= "block";
                }
        </script>


    </div>


</div>
</div>
</div>
</div>
</div>
{% endblock %}
</body>
</html>