<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crossover API</title>
</head>
<body>
<div class="banner">
    <div class="container">
        <h1><b>p4-fishies </b></h1>
        <h1>⠀</h1>

    </div>
</div>

{{ prettytext | safe }}
</body>
<style
        .text{
        margin-left: 5%;
        padding-top: 5%;
        font-family: "verdana";
    }

    .box{
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding-top: 5%
    padding-left: 5%
</style>
</html>