<!DOCTYPE html>

<html lang="en">
<head>

  <title>Easter Egg</title>
  <meta>
<style>
body {
    background-image: url({{url_for('static', filename='img/EasterBackground.gif') }});
            background-size: 100%;
            background-repeat: no-repeat;
    }
p {
  font-family: "Copperplate", fantasy;
  font-size: 350%;
  text-align: center;
  color: #FFFFFF;
  }

</style>
</head>
<body>
{% extends "LabNav.html" %}
{% block content %}
<p>Check out some of the Mini Labs the creators of this website have done!</p>
{% endblock %}
</body>
</html>